@use "variables" as variables;
@use "components" as components;
@use "mixins" as mixins;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: variables.$background-color_1;
  font-family: 'Nunito', sans-serif;
  color: variables.$white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 5em;
  margin: 0 0;
  background-color: variables.$background-color_1;
  box-shadow: 0 0 2rem -15px pink;
}
.LogoNav {
  max-width: 10rem;
}
.Navlinks {
  list-style: none;
  display: flex;
  gap: 3em;
  a {
    text-decoration: none;
    color: variables.$white;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    &:hover {
      color: variables.$violet;
    }
  }
}
.MenuBurger {
  display: none;
}
.MercrediTop {
  max-width: 70rem;
  display: block;
  margin: 4rem auto;
  border-radius: 20px;
  border: solid 3px variables.$violet;
}

.FilmsVedette {
  font-size: 1.3em;
  padding: 0.5em 5em;
}

.FilmsVedetteGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}