body{
    margin:0;
    padding:0;
    background-color: #0D0620;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background-color: #0D0620;
    box-shadow: 0 0 2rem -15px pink;
}

.LogoNav {
    max-width:10rem;
}

.Navlinks {
    list-style: none;
    display: flex;
    gap: 4rem;
}